{% extends "baocao.html" %}
{% block title %}
    Báo cáo thưởng nhóm may
{% endblock title %}
{% block filter %}
 <div id="filter">
    <form method="get">
        <div class="form-group">
            <select type="text" name="macongty" class="form-control" id="macongty" value="{{ request.args.get('macongty','') }}" onchange="form.submit()">
                <option value="">Tất cả</option>
                <option value="1">NT1</option>
                <option value="2">NT2</option>
            </select>
        </div>
        <div class="form-group">
            <input type="date" name="ngay" class="form-control" id="ngay" placeholder="Ngày" value="{{ request.args.get('ngay','') }}" onchange="form.submit()">
        </div>
        <div class="form-group">
            <input type="text" name="chuyen" class="form-control" id="chuyen" placeholder="Chuyền" value="{{ request.args.get('chuyen','') }}" onchange="form.submit()">
        </div>
    </form>
    </div>
{% endblock filter %}
{% block content %}
<table class="table table-bordered table-sm">
    <thead>
        <tr class="bg-primary">
            <th>Ngày</th>
            <th>Chuyền</th>
            <th>Sah</th>
            <th>Số giờ</th>
            <th>Hiệu suất</th>
            <th>Style</th>
            <th>Trạng thái đơn hàng</th>
            <th>Chuyền mới</th>
            <th>OQL</th>
            <th>Thưởng nhóm</th>
            <th>Thưởng 1</th>
            <th>Thưởng 2</th>
            <th>Tổng thưởng</th>
        </tr>
    </thead>
    <tbody>
        {% for row in danhsach %}
            <tr>
                <td class="ngay">{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td class="sah">{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td class="eff">{{ row[4] }}</td>
                <td>{{ row[5] }}</td>
                <td>{{ row[6] }}</td>
                <td>{{ row[7] }}</td>
                <td>{{ row[8] }}</td>
                <td class="thuong">{{ row[9] }}</td>
                <td class="thuong">{{ row[10] }}</td>
                <td class="thuong">{{ row[11] }}</td>
                <td class="thuong">{{ row[12] }}</td>
        {% endfor %}
    </tbody>
</table>
{% endblock %}