{% extends "baocao.html" %}

{% block title %}Báo cáo thưởng cá nhân may{% endblock title%}
{% block page_title %}Báo cáo thưởng cá nhân may{% endblock page_title%}
{% block filter %}
 <div id="filter">
    <form method="get">
        <div class="form-group">
            <select type="text" name="macongty" class="form-control" id="macongty" value="{{ request.args.get('macongty','') }}" onchange="form.submit()">
                <option value="">Tất cả</option>
                <option value="1">NT1</option>
                <option value="2">NT2</option>
            </select>
        </div>
        <div class="form-group">
            <input type="text" name="mst" class="form-control" id="mst" placeholder="MST" value="{{ request.args.get('mst','') }}" onchange="form.submit()">
        </div>
        <div class="form-group">
            <input type="date" name="ngay" class="form-control" id="ngay" placeholder="Ngày" value="{{ request.args.get('ngay','') }}" onchange="form.submit()">
        </div>
        <div class="form-group">
            <input type="text" name="chuyen" class="form-control" id="chuyen" placeholder="Chuyền" value="{{ request.args.get('chuyen','') }}" onchange="form.submit()">
        </div>
    </form>
    </div>
{% endblock filter %}

{% block export %}
<form method="post">
    <input type="hidden" name="macongty" value="{{ request.args.get('macongty','') }}">
    <input type="hidden" name="mst" value="{{ request.args.get('mst','') }}">
    <input type="hidden" name="ngay" value="{{ request.args.get('ngay','') }}">
    <input type="hidden" name="chuyen" value="{{ request.args.get('chuyen','') }}">
    <button type="submit" class="btn btn-success btn-sm"><i class="fas fa-fw fa-download"></i></button>
</form>
{% endblock export %}

{% block content %}
<table class="table table-bordered table-sm">
    <thead>
        <tr class="bg-primary">
            <th>MST</th>
            <th>Họ tên</th>
            <th>Chuyền</th>
            <th>Ngày</th>
            <th>SAH</th>
            <th>SCP</th>
            <th>Số giờ</th>
            <th>Hiệu suất</th>
            <th>Thưởng</th>
        </tr>
    </thead>
    <tbody>
        {% for row in danhsach %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td class="ngay">{{ row[3] }}</td>
                <td class="sah">{{ row[4] }}</td>
                <td>{{ row[5] }}</td>
                <td>{{ row[6] }}</td>
                <td class="eff">{{ row[7] }}</td>
                <td class="thuong">{{ row[8] }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}

