<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Báo cáo</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <style>
            body {
                padding-top: 5rem;
            }
            .table {
                width: 100%;
                font-weight: bold;
            }
            .table th {
                text-align: center;
                color: white;
            }
            .pagination {
                font-size: 10px;
            }

        </style>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="container">
            <a href="/" class="btn btn-success btn-sm">Nhập liệu</a>
            <a href="/baocao_thuong_may" class="btn btn-primary btn-sm">Thưởng may cá nhân</a>
            <a href="/baocao_thuong_nhommay" class="btn btn-primary btn-sm">Thưởng nhóm may</a>
            <h1>Báo cáo thưởng nhóm may</h1>
            <div id="filter">
                <form method="get">
                    <div class="form-group">
                        <select type="text" name="macongty" class="form-control" id="macongty" value="{{ request.args.get('macongty','') }}" onchange="form.submit()">
                            <option value="">Tất cả</option>
                            <option value="1">NT1</option>
                            <option value="2">NT2</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" name="style" class="form-control" id="style" placeholder="Style" value="{{ request.args.get('style','') }}" onchange="form.submit()">
                    </div>
                    <div class="form-group">
                        <input type="date" name="ngay" class="form-control" id="ngay" placeholder="Ngày" value="{{ request.args.get('ngay','') }}" onchange="form.submit()">
                    </div>
                    <div class="form-group">
                        <input type="text" name="chuyen" class="form-control" id="chuyen" placeholder="Chuyền" value="{{ request.args.get('chuyen','') }}" onchange="form.submit()">
                    </div>
                </form>
            </div>
            <div class="pagination">{{ pagination.links }}</div>
            <table class="table table-bordered table-sm">
                <thead>
                    <tr class="bg-primary">
                        <th>Ngày</th>
                        <th>Chuyền</th>
                        <th>Sah</th>
                        <th>Số giờ</th>
                        <th>Hiệu suất</th>
                        <th>Style</th>
                        <th>Trạng thái đơn hàng</th>
                        <th>Chuyền mới</th>
                        <th>OQL</th>
                        <th>Thưởng nhóm</th>
                        <th>Thưởng 1</th>
                        <th>Thưởng 2</th>
                        <th>Tổng thưởng</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in danhsach %}
                        <tr>
                            <td class="ngay">{{ row[0] }}</td>
                            <td>{{ row[1] }}</td>
                            <td class="sah">{{ row[2] }}</td>
                            <td>{{ row[3] }}</td>
                            <td class="eff">{{ row[4] }}</td>
                            <td>{{ row[5] }}</td>
                            <td>{{ row[6] }}</td>
                            <td>{{ row[7] }}</td>
                            <td>{{ row[8] }}</td>
                            <td class="thuong">{{ row[9] }}</td>
                            <td class="thuong">{{ row[10] }}</td>
                            <td class="thuong">{{ row[11] }}</td>
                            <td class="thuong">{{ row[12] }}</td>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                document.querySelectorAll('.ngay').forEach(function(element) {
                    element.textContent = element.textContent.replace(/(\d{4})-(\d{2})-(\d{2})/, '$3/$2/$1');
                });

                document.querySelectorAll('.sah').forEach(function(element) {
                    if (element.textContent !== 'None') {
                        let value = parseFloat(element.textContent);
                        if (!isNaN(value)) {
                            // Làm tròn đến số thập phân thứ 2
                            value = value.toFixed(2);
                            console.log(value);
                            element.textContent = value;
                        }
                    }
                });
                document.querySelectorAll('.eff').forEach(function(element) {
                    if (element.textContent !== 'None') {
                        let value = parseFloat(element.textContent);
                        if (!isNaN(value)) {
                            // Chuyển đổi số thập phân thành phần trăm
                            value = (value * 100).toFixed(2) + ' %';
                            console.log(value);
                            element.textContent = value;
                        }
                    }
                });

                document.querySelectorAll('.thuong').forEach(function(element) {
                    if (element.textContent !== 'None') {
                        let value = parseFloat(element.textContent);
                        if (!isNaN(value)) {
                            // Chuyển đổi số thập phân thành số nguyên và định dạng theo phần nghìn
                            value = Math.round(value).toLocaleString('vi-VN') + ' VND';
                            element.textContent = value;
                        }
                    }
                });

                document.querySelectorAll('table td').forEach(function(element) {
                    if (element.textContent.trim() === 'None' || element.textContent.trim() === '0 VND' || element.textContent.trim() === '0.00 %') {
                        element.textContent = ''; // Thay thế bằng chuỗi rỗng
                    }
                });
                // Áp dụng thuộc tính CSS cho tất cả các ô trong bảng
                document.querySelectorAll('table td').forEach(function(element) {
                    element.style.whiteSpace = 'nowrap';
                });
                document.querySelectorAll('table th').forEach(function(element) {
                    element.style.verticalAlign = 'middle';
                });
            });
        </script>
    </body>
</html>