<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Báo cáo</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <style>
            .table {
                width: 100%;
                font-weight: bold;
            }
            .table th {
                text-align: center;
                color: white;
            }
            .table td {
                text-align: center;
                white-space: nowrap;
            }

        </style>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="pagination">{{ pagination.links }}</div>
        <table class="table table-bordered table-sm">
            <thead>
                <tr class="bg-primary">
                    <th>MST</th>
                    <th>Họ tên</th>
                    <th>Chuyền</th>
                    <th>Ngày</th>
                    <th>SAH</th>
                    <th>SCP</th>
                    <th>Số giờ</th>
                    <th>Hiệu suất</th>
                    <th>Thưởng</th>
                </tr>
            </thead>
            <tbody>
                {% for row in danhsach %}
                    <tr>
                        <td>{{ row[0] }}</td>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                        <td class="ngay">{{ row[3] }}</td>
                        <td class="sah">{{ row[4] }}</td>
                        <td>{{ row[5] }}</td>
                        <td>{{ row[6] }}</td>
                        <td class="eff">{{ row[7] }}</td>
                        <td class="thuong">{{ row[8] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                document.querySelectorAll('.ngay').forEach(function(element) {
                    element.textContent = element.textContent.replace(/(\d{4})-(\d{2})-(\d{2})/, '$3/$2/$1');
                });

                document.querySelectorAll('.sah').forEach(function(element) {
                    if (element.textContent !== 'None') {
                        let value = parseFloat(element.textContent);
                        if (!isNaN(value)) {
                            // Làm tròn đến số thập phân thứ 2
                            value = value.toFixed(2);
                            console.log(value);
                            element.textContent = value;
                        }
                    }
                });
                document.querySelectorAll('.eff').forEach(function(element) {
                    if (element.textContent !== 'None') {
                        let value = parseFloat(element.textContent);
                        if (!isNaN(value)) {
                            // Chuyển đổi số thập phân thành phần trăm
                            value = (value * 100).toFixed(2) + ' %';
                            console.log(value);
                            element.textContent = value;
                        }
                    }
                });

                document.querySelectorAll('.thuong').forEach(function(element) {
                    if (element.textContent !== 'None') {
                        let value = parseFloat(element.textContent);
                        if (!isNaN(value)) {
                            // Chuyển đổi số thập phân thành số nguyên và định dạng theo phần nghìn
                            value = Math.round(value).toLocaleString('vi-VN') + ' VND';
                            element.textContent = value;
                        }
                    }
                });

                document.querySelectorAll('table td').forEach(function(element) {
                    if (element.textContent.trim() === 'None') {
                        element.textContent = ''; // Thay thế bằng chuỗi rỗng
                    }
                });
            });
        </script>
    </body>
</html>