{% extends "baocao.html" %}
{% block title %}Báo cáo thưởng nhóm NDC{% endblock title %}
{% block page_title %}Báo cáo thưởng nhóm NDC{% endblock page_title %}
{% block filter %}
 <div id="filter">
    <form method="get">
        <div class="form-group">
            <label for="macongty"><b>Mã công ty</b></label>
            <select type="text" name="macongty" class="form-control" id="macongty" value="{{ request.args.get('macongty','') }}" onchange="form.submit()">
                {% if request.args.get('macongty')=='' %}
                <option value="" selected>Tất cả</option>
                {% else %}
                <option value="">Tất cả</option>
                {% endif %}
                {% if request.args.get('macongty')=='1' %}
                <option value="1" selected>NT1</option>
                {% else %}
                <option value="1">NT1</option>
                {% endif %}
                {% if request.args.get('macongty')=='2' %}
                <option value="2" selected>NT2</option>
                {% else %}
                <option value="2">NT2</option>
                {% endif %}
            </select>
        </div>
        <div class="form-group">
            <label for="mst"><b>Chuyền</b></label>
            <input type="text" name="chuyen" class="form-control" id="chuyen" placeholder="Chuyền" value="{{ request.args.get('chuyen','') }}" onchange="form.submit()">
        </div>
        <div class="form-group">
            <label for="tungay"><b>Từ ngày</b></label>
            <input type="date" name="tungay" class="form-control" id="tungay" placeholder="Ngày" value="{{ request.args.get('tungay','') }}" onchange="form.submit()">
        </div>
        <div class="form-group">
            <label for="denngay"><b>Đến ngày</b></label>
            <input type="date" name="denngay" class="form-control" id="denngay" placeholder="Ngày" value="{{ request.args.get('denngay','') }}" onchange="form.submit()">
        </div>
    </form>
    </div>
{% endblock filter %}
{% block export %}
<form method="post">
    <input type="hidden" name="macongty" value="{{ request.args.get('macongty','') }}">
    <input type="hidden" name="tungay" value="{{ request.args.get('tungay','') }}">
    <input type="hidden" name="denngay" value="{{ request.args.get('denngay','') }}">
    <input type="hidden" name="chuyen" value="{{ request.args.get('chuyen','') }}">
    <button type="submit" class="btn btn-success btn-sm"><i class="fas fa-fw fa-download"></i></button>
</form>
{% endblock export %}
{% block content %}
<table class="table table-bordered table-sm">
    <thead>
        <tr class="bg-primary">
            <th>Nhóm</th>
            <th>Ngày</th>
            <th>Số công nhân</th>
            <th>UI</th>
            <th>OT FNS</th>
            <th>OT NDC</th>
            <th>Hệ số OT</th>
            <th>Số ngày công</th>
            <th>Tổng thưởng</th>
        </tr>
    </thead>
    <tbody>
        {% for row in danhsach %}
            <tr>
                <td>{{ row[0] }}</td>
                <td class="ngay">{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[4] }}</td>
                <td>{{ row[5] }}</td>
                <td>{{ row[6] }}</td>
                <td>{{ row[7] }}</td>
                <td>{{ row[8] }}</td>
                <td class="thuong">{{ row[9] }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}