{% extends "baocao.html" %}
{% block title %}Báo cáo thưởng nhóm Cắt{% endblock title %}
{% block page_title %}Báo cáo thưởng nhóm Cắt{% endblock page_title %}
{% block filter %}
 <div id="filter">
    <form method="get">
        <div class="form-group">
            <select type="text" name="macongty" class="form-control" id="macongty" value="{{ request.args.get('macongty','') }}" onchange="form.submit()">
                {% if request.args.get('macongty')=='' %}
                <option value="" selected>Tất cả</option>
                {% else %}
                <option value="">Tất cả</option>
                {% endif %}
                {% if request.args.get('macongty')=='1' %}
                <option value="1" selected>NT1</option>
                {% else %}
                <option value="1">NT1</option>
                {% endif %}
                {% if request.args.get('macongty')=='2' %}
                <option value="2" selected>NT2</option>
                {% else %}
                <option value="2">NT2</option>
                {% endif %}
            </select>
        </div>
        <div class="form-group">
            <input type="date" name="ngay" class="form-control" id="ngay" placeholder="Ngày" value="{{ request.args.get('ngay','') }}" onchange="form.submit()">
        </div>
        <div class="form-group">
            <input type="text" name="chuyen" class="form-control" id="chuyen" placeholder="Chuyền" value="{{ request.args.get('chuyen','') }}" onchange="form.submit()">
        </div>
    </form>
    </div>
{% endblock filter %}
{% block export %}
<form method="post">
    <input type="hidden" name="macongty" value="{{ request.args.get('macongty','') }}">
    <input type="hidden" name="ngay" value="{{ request.args.get('ngay','') }}">
    <input type="hidden" name="chuyen" value="{{ request.args.get('chuyen','') }}">
    <button type="submit" class="btn btn-success btn-sm"><i class="fas fa-fw fa-download"></i></button>
</form>
{% endblock export %}
{% block content %}
<table class="table table-bordered table-sm">
    <thead>
        <tr class="bg-primary">
            <th>Ngày</th>
            <th>Chuyền</th>
            <th>Sah</th>
            <th>Số giờ</th>
            <th>Hiệu suất</th>
            <th>Cắt kẻ</th>
            <th>UI</th>
            <th>BE</th>
            <th>BE Topup 1</th>
            <th>Topup 1</th>
            <th>Tỉ lệ lỗi</th>
            <th>AQl</th>
            <th>Thưởng nhóm</th>
            <th>Kích cầu 1</th>
            <th>Tổng thưởng</th>
        </tr>
    </thead>
    <tbody>
        {% for row in danhsach %}
            <tr>
                <td class="ngay">{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td class="sah">{{ row[2] }}</td>
                <td class="sah">{{ row[3] }}</td>
                <td class="eff">{{ row[4] }}</td>
                <td>{{ row[5] }}</td>
                <td>{{ row[7] }}</td>
                <td class="eff">{{ row[8] }}</td>
                <td class="eff">{{ row[9] }}</td>
                <td class="eff">{{ row[10] }}</td>
                <td class="eff">{{ row[11] }}</td>
                <td class="eff">{{ row[12] }}</td>
                <td class="thuong">{{ row[13] }}</td>
                <td class="thuong">{{ row[14] }}</td>
                <td class="thuong">{{ row[15] }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}