<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hệ thống tính thưởng</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        .table {
            width: 100%;
            font-weight: bold;
          }
          .table .input-container {
            display: flex;
            align-items: center;
          }
          .table input {
            width: 100%;
            box-sizing: border-box;
            border: none;
            padding: 5px;
          }
          .table input:focus {
            outline: none;
            border: 1px solid #007bff;
            background-color: #fff;
          }
          .table input[readonly] {
              pointer-events: none;
          }
          th {
            color: #fff;
            text-align: center;
            vertical-align: middle;
          }
          .icon-btn {
            background: none;
            border: none;
            color: inherit;
            cursor: pointer;
            padding: 0;
            font: inherit;
            outline: inherit;
          }
          .icon-btn i {
            font-size: 1.2em;
          }
          .modal-backdrop {
            z-index: 0;
          }
    </style>
  </head>
  <body>
    <div class="container mt-5">
        <div class="form-group">
            <a href="{{ url_for('logout') }}" class="btn btn-danger btn-sm">Đăng xuất</a>
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#hotroModal">
                Thêm người đi hỗ trợ
            </button>
            <div class="modal fade" id="hotroModal" tabindex="-1" role="dialog" aria-labelledby="hotroModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="hotroModalLabel">Đi hỗ trợ</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="/themnguoidihotro" method="POST">
                                <div class="form-group">
                                    <div class="form-group">
                                        {% if g.notice['line']|length == 1 %} 
                                        <input type="text" class="form-control" id="line_dieuchuyendi" name="line_dieuchuyendi" value="{{ g.notice['line'][0] }}" readonly> 
                                        {% else %}
                                        <input type="text" class="form-control" id="line_dieuchuyendi" name="line_dieuchuyendi" value="{{ request.args.get('chuyen') }}" readonly>
                                        {% endif %}
                                    </div>
                                    <label for="info">Người đi hỗ trợ</label>
                                    <select class="form-control" id="nguoiduocdieuchuyen" name="nguoiduocdieuchuyen">
                                        {% for nguoi in danhsach_congnhan_hotro %}
                                            <option value='{{ nguoi[1] }}_{{ nguoi[2] }}'>{{ nguoi[1] }} - {{ nguoi[2] }}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="chuyenhotro">Chuyền hỗ trợ</label>
                                    <select class="form-control" id="chuyenhotro" name="chuyenhotro">
                                        {% for chuyen in danhsach_chuyen %}
                                            {% if chuyen != g.notice['line'] %}
                                            <option value='{{ chuyen }}'>{{ chuyen }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                    <label for="ngaydieuchuyendi">Ngày đi hỗ trợ</label>
                                    <input type="date" class="form-control" id="ngaydieuchuyendi" name="ngaydieuchuyendi">
                                    <label for="giodieuchuyendi">Giờ đi hỗ trợ</label>
                                    <input type="time" class="form-control" id="giodieuchuyendi" name="giodieuchuyendi">
                                    <label for="sogiohotro">Số giờ đi hỗ trợ</label>
                                    <input type="number" step="0.1" class="form-control" id="sogiohotro" name="sogiohotro">
                                    <input type="hidden" name="style" value={{ request.args.get('style','') }}>
                                    <input type="hidden" name="ngay" value={{ request.args.get('ngay','') }}>
                                </div>
                                <button type="submit" class="btn btn-primary">Lưu</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#tncchualenchuyenModal">
                DS đi hỗ trợ
            </button>
            <div class="modal fade" id="tncchualenchuyenModal" tabindex="-1" role="dialog" aria-labelledby="tncchualenchuyenModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="tncchualenchuyenModalLabel">Danh sách công nhân đi hỗ trợ</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            
                                <div class="form-group">
                                    {% if g.notice['line']|length == 1 %} 
                                        <input type="text" class="form-control" id="line_dieuchuyendi" name="line_dieuchuyendi" value="{{ g.notice['line'][0] }}" readonly> 
                                        {% else %}
                                        <input type="text" class="form-control" id="line_dieuchuyendi" name="line_dieuchuyendi" value="{{ request.args.get('chuyen') }}" readonly>
                                        {% endif %}
                                </div>
                                <table class="table table-bordered table-sm">
                                    <thead>
                                        <tr class="bg-primary">
                                            <th>MST</th>
                                            <th>Họ tên</th>
                                            <th>Chuyền</th>
                                            <th>Ngày</th>
                                            <th>Giờ</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for nguoi in danhsach_di_hotro %}
                                            <tr>
                                                <td>{{ nguoi[1] }}</td>
                                                <td>{{ nguoi[2] }}</td>
                                                <td>{{ nguoi[5] }}</td>
                                                <td class="date_en">{{ nguoi[6] }}</td>
                                                <td>
                                                    <form action="/capnhatsogiohotro" method="POST">
                                                        <input type="hidden" name="id_hotro" value="{{ nguoi[-1] }}">
                                                        <input type="hidden" name="chuyen" value={{ request.args.get('chuyen','') }}>
                                                        <input type="hidden" name="ngay" value={{ request.args.get('ngay','') }}>
                                                        <input type="number" name="sogio" value="{{ nguoi[8] }}" onchange="form.submit()">
                                                    </form>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <button class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#tncModal">
                Nhận công nhân TNC
            </button>
            <div class="modal fade" id="tncModal" tabindex="-1" role="dialog" aria-labelledby="tncModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="tncModalLabel">Công nhân may chưa tính SAH</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            
                                <div class="form-group">
                                    {% if g.notice['line']|length == 1 %} 
                                        <input type="text" class="form-control" id="line_dieuchuyendi" name="line_dieuchuyendi" value="{{ g.notice['line'][0] }}" readonly> 
                                    {% else %}
                                        <input type="text" class="form-control" id="line_dieuchuyendi" name="line_dieuchuyendi" value="{{ request.args.get('chuyen') }}" readonly>
                                    {% endif %}
                                </div>
                                <table class="table table-bordered table-sm">
                                    <thead>
                                        <tr class="bg-primary">
                                            <th>MST</th>
                                            <th>Họ tên</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for tnc in danhsach_tnc %}
                                        <form action="/nhantnclenchuyen" method="POST">
                                            <tr>
                                                <td>{{ tnc[2] }}</td>
                                                <td>{{ tnc[3] }}</td>
                                                <td>
                                                    <input type="hidden" name="chuyen_nhan_tnc" value="{{ g.notice['line'] }}">
                                                    <input type="hidden" name="id_tnc" value="{{ tnc[0] }}">
                                                    <input type="submit" class="btn btn-primary btn-sm" value="Nhận" onclick="return nhantnclenchuyen()">
                                                </td>
                                            </tr>
                                            <input type="hidden" name="style" value={{ request.args.get('style','') }}>
                                            <input type="hidden" name="ngay" value={{ request.args.get('ngay','') }}>
                                        </form>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <button class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <a href="/baocao_thuong_may" class="btn btn-warning btn-sm" >Báo cáo</a>
        </div>
        
        
            <div style="display:flex; justify-content: space-around; padding:10px">
                <p><b>{{ current_user.masothe}} - {{ current_user.hoten}}</b></p>
                <div style="display:flex; justify-content: space-around;gap:10px;">
                    <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#uploadModal" style="height: 40px;">
                        <i class="fas fa-fw fa-upload"></i>
                    </button>
                    <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModal" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="uploadModal">Tải dữ liệu lên</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="/taidulieulen" method="POST" enctype="multipart/form-data">
                                        <input type="hidden" name="chuyen" value={{ request.args.get('chuyen') }}>
                                        <input type="hidden" name="ngay" value={{ request.args.get('ngay') }}>
                                        <input type="hidden" name="style" value={{ request.args.get('style') }}>
                                        <div class="form-group">
                                            <input type="file" class="form-control" id="file" name="file">
                                        </div>
                                        <button type="submit" class="btn btn-primary">Tải lên</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form method="POST" action="/">
                        <input type="hidden" name="chuyen" value={{ request.args.get('chuyen','') }}>
                        <input type="hidden" name="ngay" value={{ request.args.get('ngay','') }}>
                        <input type="hidden" name="style" value={{ request.args.get('style','') }}>
                        <input type="hidden" name="mst" value={{ request.args.get('mst','') }}>
                        <input type="hidden" name="hoten" value={{ request.args.get('hoten','') }}>
                        <input type="hidden" name="macongdoan" value={{ request.args.get('search_macongdoan','') }}>
                        <button type="submit" class="btn btn-success btn-sm" style="height: 40px;"><i class="fas fa-fw fa-download"></i></button>
                    </form>
                </div>
            </div>
            <form method="GET">
            <div class="form-group">
                <select class="form-control" id="chuyen" name="chuyen" value="{{ request.args.get('chuyen') }}" onchange="form.submit()">
                    <option value=''></option>
                    {% if g.notice['line']|length == 1 %}
                        <option value='{{ g.notice['line'][0] }}' selected>{{ g.notice['line'][0] }}</option>
                    {% else %}
                    {% for chuyen in g.notice['line'] %}
                    {% if chuyen == request.args.get('chuyen') %}
                        <option value='{{ chuyen }}' selected>{{ chuyen }}</option>
                    {% else %}
                        <option value='{{ chuyen }}'>{{ chuyen }}</option>
                    {% endif %}    
                    {% endfor %}
                    {% endif %}
                <select>
            </div>
            <div class="form-group">
                <input type="date" class="form-control" id="ngay" name="ngay" onchange="form.submit()" value="{{ request.args.get('ngay','') }}">
            </div>
            <div class="form-group">
                <select class="form-control" id="style" name="style" onchange="form.submit()">
                    <option value=''></option>
                    {% for style in styles %}
                        {% if style == request.args.get('style') %}
                            <option value='{{ style }}' selected>{{ style }}</option>
                        {% else %}
                            <option value='{{ style }}'>{{ style }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        
        <hr/>
        <div class="table-responsive mt-3">
        <table class="table table-bordered table-sm">
            <thead>
                <tr class="bg-primary">
                    <th></th>
                    <th>MST</th>
                    <th>Họ tên</th>
                    <th>Mã công đoạn</th>
                    <th>Sản lượng cá nhân</th>
                    <th></th>
                </tr>
                <tr>
                    <th><a class="fas fa-search" href="#" data-toggle="modal" data-target="#tongsanluongModal"></a></th>
                    <th>
                        <select id="mst" name="mst" onchange="form.submit()">
                            <option value=''></option>
                            {% for row in danhsach_sanluong %}
                            {% if row[0] == request.args.get('mst') %}
                                <option value='{{ row[0] }}' selected>{{ row[0] }}</option>
                            {% else %}
                                <option value='{{ row[0] }}'>{{ row[0] }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </th>
                    <th>
                        <select id="hoten" name="hoten" onchange="form.submit()">
                            <option value=''></option>
                            {% for row in danhsach_sanluong %}
                            {% if row[1] == request.args.get('hoten') %}
                                <option value='{{ row[1] }}' selected>{{ row[1] }}</option>
                            {% else %}
                                <option value='{{ row[1] }}'>{{ row[1] }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </th>
                    <th><input type="text" id="search_macongdoan" name="search_macongdoan" value="{{ request.args.get('search_macongdoan','') }}" onchange="form.submit()"></th>
                    <th><b style="color:red;">{{ sanluongtong }}</b></th>
                </form>
                    <th></th>
                </tr>            
            </thead>
            <tbody> 
                    {% for row in danhsach_sanluong %}
                    <tr class="cd_{{ row[5] }}">
                        <td>
                            <form action="/xoasanluongcanhan" method="POST">
                                <input type="hidden" name="chuyen" value={{ request.args.get('chuyen','') }}>
                                <input type="hidden" name="ngay" value={{ request.args.get('ngay','') }}>
                                <input type="hidden" name="style" value={{ request.args.get('style','') }}>
                                <input type="hidden" name="id_xoasanluong" value={{ row[-1]}}>
                                <button type="submit" onclick="return xoasanluongcanhan()" class="btn btn-danger btn-sm"><i class="fas fa-fw fa-trash" ></i></button>
                            </form>
                        </td>
                        <form method="POST" action="/nhapsanluongcanhan">
                            <input type="hidden" name="chuyen" value={{ request.args.get('chuyen') }}>
                            <input type="hidden" name="ngay" value={{ request.args.get('ngay') }}>
                            <input type="hidden" name="style" value={{ request.args.get('style') }}>
                            <td><input type="text" name="mst" readonly value={{ row[0] }}></td>
                            <td><input type="text" name="hoten" readonly value='{{ row[1] }}'></td>
                            <td>
                                <div class="input-container">
                                    <input type="number" name="macongdoan" value="{{ row[5] }}" class="macongdoan_tong" onchange="form.submit()">
                                    <a class="fas fa-fw fa-eye" href="#" data-toggle="modal" data-target="#congdoanModal" data-info="{{ row[5] }}_{{ request.args.get('style') }}"></a>
                                </div>
                                <div class="modal fade" id="congdoanModal" tabindex="-1" role="dialog" aria-labelledby="congdoanModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title" id="congdoanModalLabel">Tên công đoạn</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                        <div class="modal-body">
                                          <p id="congdoanInfo"></p>
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                            </td>
                            <td><input type="number" name="sanluong" value={{ row[6] }} onchange="form.submit()"  class="sanluong_tong"></td>
                        </form>
                        <td>
                            <a class="fas fa-fw fa-plus" data-toggle="modal" data-target="#themcongdoanModal_{{ row[0] }}"></a>
                        </td>
                        <div class="modal fade" id="themcongdoanModal_{{ row[0] }}" tabindex="-1" role="dialog" aria-labelledby="themcongdoanModal_{{ row[0] }}Label" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="themcongdoanModal_{{ row[0] }}Label">Thêm công đoạn cá nhân</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="/nhapsanluong_congdoanmoi" method="POST">
                                        <div class="form-group">
                                            <input class="form-control" name="chuyen" readonly value={{ request.args.get('chuyen') }}>
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control" name="ngay" readonly value={{ request.args.get('ngay') }}>
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control" name="style" readonly value={{ request.args.get('style') }}>
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control" type="text" name="mst" readonly value={{ row[0] }}>
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control" type="text" name="hoten" readonly value='{{ row[1] }}'>
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control" type="number" name="macongdoan" placeholder="Nhập mã công đoạn">
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control" type="number" name="sanluong" placeholder="Nhập sản lượng cá nhân">
                                        </div>
                                        <div class="form-group">
                                        </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Lưu</button>
                                </form>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                </div>
                                </div>
                            </div>
                        </div>
                    </tr>
                    <div hidden class="tong_sanluong_congdoan">{{ row[5]}}_{{row[6] }}</div>
                    {% endfor %}
                </tbody>
            </table>
            <hr/>
            <div class="modal fade" id="tongsanluongModal" tabindex="-1" role="dialog" aria-labelledby="tongsanluongModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="tongsanluongModalLabel">Tổng sản lượng</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered table-sm">
                            <thead>
                                <tr class="bg-primary">
                                    <th>Mã công đoạn</th>
                                    <th>Sản lượng</th>
                                    <th>Sản lượng nhập vào</th>
                                    <th>+/-</th>
                                </tr>
                            </thead>
                            <tbody id="sosanh">
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     
     
      
    
    
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
        $(document).ready(function() {
            $('#infoForm').on('submit', function(event) {
              event.preventDefault();
              var info = $('#info').val();
              // Here you can add the code to handle the information submitted
              alert('Information submitted: ' + info);
              $('#hotroModal').modal('hide');
            });
    
            $('#congdoanModal').on('show.bs.modal', function (event) {
              var button = $(event.relatedTarget); // Button that triggered the modal
              var info = button.data('info'); // Extract info from data-* attributes
              var modal = $(this);
              axios.get('/xemtencongdoan?thongtin=' + info)
                .then(function (response) {
                  modal.find('.modal-body p').text(response.data);
                })
                .catch(function (error) {
                  console.log(error);
                });
            });
          });

          function nhantnclenchuyen(){
            if (confirm("Bạn chắc chắn muốn nhận TNC này về chuyền?")) {
                return true;
            } 
            return false;
        }

        function changeFormatDate(date){
            if(date == 'None') return "";
            try{
                return date.split("-")[2] + "/" + date.split("-")[1];
            } catch {
                return "";    
        }}

        function xoasanluongcanhan() {
            if (confirm("Bạn muốn xoá sản lượng của công nhân này?")){
                return true;
            } 
            return false;
        }

        document.addEventListener('DOMContentLoaded', (event) => { 
            document.querySelectorAll('.date_en').forEach((element) => {
                element.textContent = changeFormatDate(element.textContent);
            });
            var ketqua_sanluong = []
            var tongsanluong_congdoan = document.querySelectorAll('.tong_sanluong_congdoan');
            tongsanluong_congdoan.forEach((element) => {
                if (element.textContent.split("_")[0] != '') {
                    ketqua_sanluong.push(element.textContent)
                }
            });
            const result = {};
            ketqua_sanluong.forEach(item => {
            const [code, amount] = item.split('_');
                if (result[code]) {
                    result[code] += parseInt(amount, 10);
                } else {
                    result[code] = parseInt(amount, 10);
                }
            });
            const ngay = "{{ request.args.get('ngay') }}";
            const chuyen = "{{ request.args.get('chuyen') }}";
            const style = "{{ request.args.get('style') }}";
            const macongdoan = "{{ request.args.get('search_macongdoan') }}";
            axios({
                method: 'post',
                url: '/laytongsanluongtheocongdoan?ngay=' + ngay + '&chuyen=' + chuyen + '&style=' + style + '&macongdoan=' + macongdoan,
            })
            .then(function (response) {
                var tonghop_congdoan_nhapsai = []
                var congdoan_nhapsai = []
                var data = response.data;
                var sosanh = document.querySelector('#sosanh');

                data.forEach(element => {
                    tonghop_congdoan_nhapsai.push([parseInt(element[0]), element[1], result[element[0]]])
                })
                
                tonghop_congdoan_nhapsai.forEach(element => {
                    
                    if (result[element[0]]) {
                        congtru = result[element[0]] - element[1]
                        if (congtru < 0) {
                            sosanh.insertAdjacentHTML('beforeend', '<tr class="cd_'+element[0]+'"><td>'+element[0]+'</td><td>'+element[1]+'</td><td>'+result[element[0]]+'</td><td style="color:red;">'+congtru+'</td></tr>')
                        } else if (congtru > 0){
                            sosanh.insertAdjacentHTML('beforeend', '<tr class="cd_'+element[0]+'"><td>'+element[0]+'</td><td>'+element[1]+'</td><td>'+result[element[0]]+'</td><td style="color:green;">'+congtru+'</td></tr>')
                        } else {
                            sosanh.insertAdjacentHTML('beforeend', '<tr class="cd_'+element[0]+'"><td>'+element[0]+'</td><td>'+element[1]+'</td><td>'+result[element[0]]+'</td><td>'+congtru+'</td></tr>')
                        }
                    } else {
                        sosanh.insertAdjacentHTML('beforeend', '<tr class="cd_'+element[0]+'"><td>'+element[0]+'</td><td>'+element[1]+'</td><td></td></tr>')
                    }
                    
                    if (element[2] != element[1]) {
                        congdoan_nhapsai.push(element)
                    }
                })
                congdoan_nhapsai.forEach(element => {
                    document.querySelectorAll('.cd_'+element[0]).forEach((element) => {
                        element.style.backgroundColor = 'yellow';
                    })
                })
            })
            .catch(function (error) {
                console.log(error);
            });
        })
    </script>
  </body>
</html>
