<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container mt-5">
      <form method="POST" action="{{ url_for('login') }}">
        <div class="form-group">
          <label for="macongty">Công ty</label>
          <select class="form-control" id="macongty" name="macongty" required>
            {% for congty in danhsachcongty %}
              <option value={{ congty }}>{{ congty}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="masothe">Mã số thẻ</label>
          <input type="number" class="form-control" id="masothe" name="masothe" required>
        </div>
        <div class="form-group">
          <label for="matkhau">Mật khẩu</label>
          <input type="password" class="form-control" id="matkhau" name="matkhau" required>
        </div>
        <div style="display: flex; justify-content: space-between;">
          <button type="submit" class="btn btn-primary">Đăng nhập</button>
          </form>
          <a href='/baocao_thuong_may' class="btn btn-danger">Báo cáo</a>
        </div>
    </div>
  </body>
</html>
